
* {
    margin: 0;
    box-sizing: border-box;
}

header {
  margin-top: 5vmin;
  display: flex;
  display: block;
  justify-content: space-around;
  
}
.ha {
    color: rgb(68, 68, 68);
}
.info {
    
}
nav {
    padding: 10px;    
}
nav i {
    padding: 0 1vh;
}
#wifi-icon {
    height: 4vmin;
}
#logo-eldorado {
    height: 15vmin;
}
buttons {
    margin: 3vmin 0;
}
.button-header {
  background-color:rgb(39, 132, 122); /* Green */
  border: none;
  color: white;
  padding: 1.5vmin;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  
    
}
.container-header {
  display: flex;
  justify-content: space-evenly;
}

.container-header2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  
}

.container-header2 .buttons {
  margin-left: 50vmin;
}

.container-header2 .buttons .button-header {
  margin-left: 10px;
  
}



